.slider {
    min-height: 300px;
    width: 600px;
    height: 200px;
    margin: auto;
  }

.slider-body {
    position: relative;
  }
  img.slider-content {
   width: 100%;
   height: auto;
   display: block;
   height: 300px;
  }
  .left-button,
  .right-button {
   position: absolute;
   top: 0;
   bottom: 0;
   width: 40px;
   background: rgba(0,0,0,.6);
  }
  .left-button {
    left: 0;
  }
  .right-button {
    right: 0;
  }
  .left-button:before,
  .right-button:before {
   position: absolute;
   transform: translateY(-50%);
   left: 0;
   right: 0;
   top: 50%;
   text-align: center;
   color: #fff;
   font-weight: bold;
   font-size: 21px;
  }
  .left-button:before {
    content: '<'
   }
   .right-button:before {
    content: '>'
   }
   .bottom-slider {
     text-align:center;
   }
   .bottom-slider ul {
     margin: 0;
     padding: 0;
     list-style: none;
   }
   .bottom-slider li {
     display: inline-block;
     vertical-align: top;
     margin: 0 5px;
     background: rgba(0,0,0,.6);
    width: 14px;
    height: 14px;
    border-radius: 50%;
    cursor: pointer;
   }
   .bottom-slider li.active{
    background: #28a745!important;
   }