.header {
    position: relative;
    padding: 40px;
  }
  
  .nav {
    float: right;
  }
  
  .nav li {
    display: inline-block;
    vertical-align: top;
    color: orange;
    position: relative;
  }

  .nav li a {
    display: block;
    padding: 2px 10px;
    color: orange;
  }
  

  .sub-drop {
    transition: all 0.3s ease;
    background-color: gray;
    position: absolute;
    left: -75px;
    top: 0;
    padding-left: 10px;
  }
  
  .sub-drop li {
    display: block;
  }
  
  .sub-menu:hover > .sub-drop {
    display: block;
    opacity: 1;
  }
  
  .search {
    position: absolute;
    right: 30px;
    top: 20px;
  }

  .show {
    transition: all 0.3s ease;
    top: 100%;
    background-color: gray;
    position: absolute;
    left: -90px;
    top: 0px;
  }