.header {
    position: relative;
    padding: 40px;
  }
  
  .nav-bar-my {
    float: right;
    list-style-type: none;
    margin-right: 10px;
  }
  
  .nav-bar-my li {
    vertical-align: top;
    color: #28a745;
    position: relative;
    padding: 5px 15px;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;

  }
  .nav-bar-my li:hover{
    cursor: pointer;
    color: #fff;
    background-color: #28a745;
    border-color: #28a745;
  }
/* 
  .nav-bar-my li a {
    display: block;
    padding: 2px 10px;
    color: #28a745;
  } */
  

  .sub-drop {
    transition: all 0.3s ease;
    background-color: lightgray;
    position: absolute;
    left: -84px;
    border-radius: .25rem;
    top: 0;
    padding-left: 0px;
  }
  
  .sub-drop li {
    display: block;
  }
  
  .sub-menu:hover > .sub-drop {
    display: block;
    opacity: 1;
  }
  

  .show {
    transition: all 0.3s ease;
    top: 100%;
    background-color: gray;
    position: absolute;
    left: -85px;
    top: 0px;
  }